<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>
    <main class="mainCrearProducto">
        <div class="iconoStock">
            <i class="fas fa-cubes"></i>
        </div>
        <h1>Complete los datos del nuevo producto</h1>
        <form action="/crear-producto/" method="POST" enctype="multipart/form-data">
            
            <div>
                <label for="mascota">Perros</label>
                <input type="radio"  name="mascota" value="perros">
                <label for="mascota">Gatos</label>
                <input type="radio" name="mascota"value="gatos">
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                <option value="accesorios">Accesorios</option>
                <option value="alimentos">Alimentos</option>
                <option value="aseo">Aseo</option>
                </select>
            </div>
            <div>
                <label for="nombre">Nombre Producto</label>
                <input type="text" id="nombre" name="nombre"  placeholder="Ingrese nombre de producto" >
            </div>
            <div>
                <label for="cantidad">Cantidad disponible</label>
                <input type="text" id="cantidad" name="cantidad" placeholder="Ingrese cantidad disponible" >
            </div>
            <div>
                <label for="imagen">Imagen de descripción</label>
                <input type="file" name="imagen" placeholder="Ingrese imagen de referencia" >
            </div>
            <div >
                <input type="submit" value="Guardar">
            </div>

            
            
        </form>
    </main>
    <%- include ('./partials/footer') %>
    
</body>
</html>