<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
    </head>
    <body>
        <header>
            <div class="caja-logo">              
                    <img src="/images/LogoPupieShop.svg" alt="Logo PuppieShop">               
            </div><!-- contenedor logo -->
            <div class="header-right">
                <div class="redes">
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-instagram"></i> 
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-facebook-f"></i>
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-whatsapp"></i>
                    </div>
                </div><!-- Contenedor Redes Sociales -->

                <div class="caja-enlace-header">
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Productos</a>
                    </div><!-- div link productos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Contactanos</a>
                    </div><!-- div link contactenos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="/login">Login</a>
                    </div><!-- div link login -->
                </div><!-- Contenedor enlaces header -->
            </div><!-- Contenedor derecho de header -->
        </header>
        <main>
            <div class="top">
                <div class="left">
                    <picture class="img-detalle">
                        <img src="/images/bang-toy.png" alt="Juguete bang Candy">
                    </picture>

                </div>
                <div class="right">
                    <div class="titulos-productos">
                        <h5>[Nombre Categoria]</h4>
                        <h2>[Nombre producto]</h2>
                        <h6>[Codigo Producto]</h6>
                        <h3>Modelos disponibles</h3>
                    </div>

                </div>

            </div>
            <div class="botton">

            </div>
        </main>
         <footer>

         </footer>
    </body>
</html>