<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
    </head>
    <body>
        <header>
            <div class="caja-logo">              
                    <img src="/images/LogoPupieShop.svg" alt="Logo PuppieShop">               
            </div><!-- contenedor logo -->
            <div class="header-right">
                <div class="redes">
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-instagram"></i> 
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-facebook-f"></i>
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-whatsapp"></i>
                    </div>
                </div><!-- Contenedor Redes Sociales -->

                <div class="caja-enlace-header">
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Productos</a>
                    </div><!-- div link productos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Contactanos</a>
                    </div><!-- div link contactenos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="/login">Login</a>
                    </div><!-- div link login -->
                </div><!-- Contenedor enlaces header -->
            </div><!-- Contenedor derecho de header -->
        </header>
        <main>
            <div class="top">
                <div class="left">
                    <picture class="img-detalle">
                        <img src="/images/bang-toy.png" alt="Juguete bang Candy">
                    </picture><!-- imagen de producto -->
                    <div class="imagen2">
                        <picture class="img2">
                            <img src="/images/bang-red.png" alt="">
                        </picture >
                        <picture class="img2">
                            <img src="/images/bang-blue.png" alt="">
                        </picture>
                        <picture class="img2">
                            <img src="/images/bang-purple.png" alt="">
                        </picture>
                        <picture class="img2">
                            <img src="/images/bang-pink.png" alt="">
                        </picture>
                    </div>

                </div>
                <div class="right">
                    <div class="titulos-productos">
                        <h5>[Nombre Categoria]</h4>
                        <h2>[Nombre producto]</h2>
                        <h3>Modelos disponibles</h3>
                    </div><!-- texto descripción -->
                    <form action="#">
                        <div class="modelos">
                            <div class="rojo">         
                            </div>
                            <div class="azul">      
                            </div>
                            <div class="morado">
                            </div>
                            <div class="rosado">
                            </div>
                        </div><!-- modelos -->
                        <div class="precio">
                            <h2>$99.999</h2>
                            <h6>[Codigo Producto]</h6>
                        </div><!-- Precio y codigo -->
                        <div class="range">
                            <label for="cantidad">Cantidad:</label>
                            <select class="lista-cantidad" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                            <input type="submit" value="Añadir Cesta">
                        </div><!-- Cantidades -->

                    </form><!-- Form producto -->
                    <button>Ver carro de compras</button>

                </div><!-- Contenedor Right -->

            </div><!-- Contenedor Superior -->
            <div class="botton">
                <article>
                    <img src="/images/similar-product-1.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-2.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-3.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-4.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-5.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-6.jpg" alt="">
                </article>
                <article>
                    <img src="/images/similar-product-7.jpg" alt="">
                </article>
            </div><!-- contenedor inferior -->
        </main>
         <footer>

         </footer>
    </body>
</html>