<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuraci칩n de carpeta para dise침os CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
    </head>
    <body>
        <%- include ('./partials/header') %>
        <main class="detalleProducto">
            <section class="imagenDetalle">
                <img src="/images/Aliemento mascotas/Seco/Perro/ProPlan/787-139 SL FLAGSHIP - PROPLAN REVAMP - MOCKUPS png_PNG EN BAJA RESOLUCION_MKP 787-139 PP FLAGSHIP PERROS DELICATE STRUCTURE.png" alt="">
            </section>
            <section class="descripcionDetalle">
                <form class="formCompra" action="comprar">
                    <h2>Alimento seco proplan</h2>
                    <label for="referencia">C칩digo Producto REF 9999</label>
                    <input type="hidden" name="referencia" value="9999">
                    <label for="precio">Precio $1000</label>
                    <input type="hidden" name="precio" value="10000">
                    <div class="listas">
                        <label for="cantidad">Cantidad:</label>
                        <select class="cantidad" name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                       </select>           
                    </div>
                    <input type="submit" name="comprar" value="A침adir Carrito">


                </form>

               
            </section>
            
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>