<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
    </head>
    <body>
        <header>
            <div class="caja-logo">              
                    <img src="/images/LogoPupieShop.svg" alt="Logo PuppieShop">               
            </div><!-- contenedor logo -->
            <div class="header-right">
                <div class="redes">
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-instagram"></i> 
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-facebook-f"></i>
                        
                    </div>
                    <div class="iconred">
                        <a href="https://www.google.com/" target="blank"><i class="fab fa-whatsapp"></i>
                    </div>
                </div><!-- Contenedor Redes Sociales -->

                <div class="caja-enlace-header">
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Productos</a>
                    </div><!-- div link productos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="#">Contactanos</a>
                    </div><!-- div link contactenos -->
                    <div class="div-btn-header">
                        <a class="a-btn-header" href="/login">Login</a>
                    </div><!-- div link login -->
                </div><!-- Contenedor enlaces header -->
            </div><!-- Contenedor derecho de header -->
        </header>
        <main class="mainHome"> 
            <section>
                <picture class="imagenSeccion">
                    <img src="/images/accesorios.jpg" alt="">
                </picture>
                <div class="descripcionSeccion">
                    <h2>Accesorios y juguetes para tu mascota</h2>
                    <p>Nuestros accesorios estan hechos con materiales de alta duración especial para esos amigos mordelones, suave con sus encías y muy llamativos para lograr activar su isntinto de juego y liberar sus mentes de cualquier estres que los rodee</p>
                </div>


            </section><!-- Sección de accesorios -->
            <section>
                <div class="descripcionSeccion">
                    <h2>Alimentos para tu mascota</h2>
                    <p>Contamos con una gran variedad de marcas de alimentos secos y humedos para suplir las necesidades de tu mascota</p>
                </div>
                <picture class="imagenSeccion">
                    <img src="/images/alimentosmascotas.jpg" alt="">
                </picture>
            </section><!-- Sección de alimentos -->
            <section>
                <picture class="imagenSeccion">
                    <img src="/images/aseomascotas.jpg" alt="">
                </picture>
                <div class="descripcionSeccion">
                    <h2>Insumos de aseo para tu mascota</h2>
                    <p>Todos los productos de aseo cuentan con propiedades naturales que ayduan a eliminar cuerpos extraños de la piel de tus masoctas, además de una fragancia natural suave libre de quimicos que puedan comprometer su suave pelaje</p>
                </div>

            </section><!-- Sección de aseo -->
    
        </main>
        <footer>
            <h4>Copyright © 2021-2022 PuppieShop-Derechos reservados</h4>
        </footer>
    </body>
</html>