<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>PuppieShop Weba site</title>
</head>
<body>
    <header>
        <picture>
            <img src="/images/LogoPupieShop.svg" alt="Logo PuppieShop">
        </picture>
        <i class="fas fa-shopping-cart"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-bars"></i>
        <i class="fas fa-search"></i>

    </header>
    <main>
    
    </main>
    <footer>
        <div class="contacto">
            <h2>Contactenos</h2>
            <i class="fab fa-whatsapp"></i>
            <p></p>
            <i class="fas fa-map-marker-alt"></i>
            <p></p>
            <i class="fas fa-at"></i>
            <p></p>
        </div>
        <h4>Copyright © 2021-2022 PuppieShop-Derechos reservados</h4>
    </footer>
</body>
</html>