<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
</head>
<body>
    <%- include ('./partials/header') %>
    <main class="registro">
        <!-- imagen de sin foto -->
        <div class="iconoUser">
            <i class="far fa-user"></i>
        </div>
        <!-- formulario de login -->
        <form action="/login" method="POST">  
            <label for="correo">Ingrese Correo electrónico</label>
            <input type="email" name="correo" placeholder="Correo">
            <label for="contraseña">Ingrese Contraseña</label>
            <input type="password" name="contraseña" placeholder="Contraseña">
            <div class="botones">
                <input class="btn" type="submit" value="Ingresar">
                <input class="btn" type="reset" value="Borrar">
            </div>
        </form>
        <label for="enlaceCreaUser">¿No tienes Cuenta?</label>
        <a href="/registro"><button class="btn" name="enlaceCreaUser">Crear Usuario</button></a>
            
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>