@import url(/css/parametrizacion.css);
@import url(/css/txt.css);
@import url(/css/responsive.css);
@import url(/css/animaciones.css);
@import url(/css/styles.css);

/*MAIN*/
main{
    margin: auto;
    border: 3px solid var(--negro);
}
picture.foto{
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-bottom: 10px;
}
div.formulario{
    text-align: center;

}
div.formulario input,div.formulario button,div.formulario a{
    margin-bottom: 15px;
    color: var(--negro);
    text-decoration: none;
    font-size: 5x;
}

div.formulario button{
    border: 1px solid var(--gris-oscuro);
    width: 40%;
}