@media (max-width: 360px) {
    header{
        flex-direction: column;
    } 
    header .header-right{
        display:none
    
    }

    header .caja-logo{
        width: 100%;
    }
    header .caja-enlace-header{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (min-width: 361px) and (max-width:760px){

    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    header .caja-logo{
        width: 80%;
    }
}

@media (min-width:761px){

    header .header-right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    header .caja-logo{
        width: 40%;
    }
}
