@media (max-width: 412px) {
    /* HEADER */
    header{
        flex-direction: column;
    } 
    header .header-right{
        display:none
    }

    /* MAIN */
    main .top{
        flex-direction: column;
    }
}
@media (min-width: 413px) and (max-width:612px){

    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    header .caja-logo{
        width: 80%;
    }

    /* MAIN */
    main .top{
        flex-direction: row;
    }    

}

@media (min-width:613px){

    header .header-right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    header .caja-logo{
        width: 40%;
    }
 /* MAIN */
    main .top{
        flex-direction: row;
}    
    main .top .left{
        width: 60%;
        height: 100%;
}

}
