@import url(/css/parametrizacion.css);
@import url(/css/txt.css);
@import url(/css/responsive.css);
@import url(/css/animaciones.css);

/* HEADER */
header{
    background-color: #7ca04f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    
} /* estilos header */

header .header-right .redes{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;

}/* Contenedor redes */
header .caja-enlace-header{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
}/* Contenedor enlaces header */

.caja-logo img{
    width: 100%;
}/* img logo */

header .header-right .redes .iconred i{
    background-color: #7ca04f ;
    border: none;
    color: black;
}/* Iconos redes */

/* MAIN */

main {
   
    border: solid;
    width: 77%;
    height: 100vh;
    margin: 5px auto;
    overflow: hidden;
   
}

main .botton{
    border: solid;
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
}/* contenedor inferior productos similares */

main .top .right  h5, h6{
    padding: 4px;
}/* Contenedor texto descripcion articulo */

main .top .right  h2, h3{
    padding: 4px;
}/* titulos */

main .top .right .modelos{
    padding: 10px;
    display: flex;
    gap:10px;
    flex-direction: row;
    border: solid;

}/* Contenedor modelos */
main .top .right .modelos .rojo, .azul, .morado, .rosado{
    width: 20px;
    height: 20px;
}/* Moedelos tamaños */


main .top .right .modelos .azul{
background-color: blue;
}/* Moedelo  */
main .top .right .modelos .morado{
    background-color: purple;
}/* Modelo */
main .top .right .modelos .rosado{
    background-color: rgb(240, 142, 238);
}/* Modelo */

main .top .right .modelos .rojo{
    background-color: red;
}/* Modelo */

main .top .right .range .lista-cantidad{
    border:1px solid green;
    border-radius: 5px; 
    background-color: white;

}









