<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina --><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="error">
        <h1>ERROR!!!!!!!!! 404</h1>
        <picture>
            <img src="/images/1645975570560.png" alt="error">
        </picture>
        <h2>No encontramos esa direccion en nuestro servidor, mejor vamos a inicio!!!!</h1>
        <button><a href="/">VOLVER A INICIO</a></button>
       
    </main>
    
</body>
</html>