<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
    <body>
        <%- include ('./partials/header') %>
        <main class="registro">
            <div class="iconoUser">
                <i class="far fa-user"></i>
            </div>
            <form action="/" method="post">
                <label for="nombre">Ingrese nombre</label>
                <input type="text" name="nombre" placeholder="Nombre">
                <label for="apellido">Ingrese apellido</label>
                <input type="text" name="apellido" placeholder="Apellido">
                <label for="correo">Ingrese Correo electrónico</label>
                <input type="email" name="correo" placeholder="Correo">
                <label for="contraseña">Ingrese Contraseña</label>
                <input type="password" name="contraseña" placeholder="Contraseña">
                <div class="botones">
                    <input class="btn" type="submit" value="Registrar">
                    <input class="btn" type="reset" value="Borrar">
                </div>

            </form>
            
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>