.mainAdminPerfil .imagenUser{
    width: 10vw;
    height: 10vw;
}
.mainAdminPerfil .imagenUser img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mainAdminPerfil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding: 5px;
}
.mainAdminPerfil .articulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    

}

#botones{
display: flex;
flex-direction: column;
gap:3px
}

#edit, #delete{
padding: 5px;
font-family: var(--fuente);
font-size: var(--font-size-L);
border-radius: 10px;

transition: background-color, color;
transition-duration: 300ms;
}


#edit:hover ,#delete:hover{
    color: aliceblue;
    background-color:var(--verde);
    border-radius:10px;
}

#cerrarSesion{
    background-color: rgb(223, 42, 42);
    padding:10px;
    border-radius: 5px;
    transition: background-color, color;
    transition-duration: 300ms;
    font-family: var(--fuente);
    font-size: var(--font-size-L);

}
#cerrarSesion:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(223, 42, 42) ;


}
#crearProducto{
    background-color: var(--verde);
    padding:10px;
    border-radius: 5px;
    transition: background-color;
    transition-duration: 500ms;
    text-decoration: none;
    
}
#crearProducto:hover{
    background-color: aliceblue;    
}
#crearProducto:hover a{
    color: var(--verde);    
}
#crearProducto a{
    text-decoration: none;
    color: aliceblue;
    font-family: var(--fuente);
    font-size: var(--font-size-L);
}



.mainAdminPerfil article {
    position: relative;
    overflow:hidden;
    z-index: 1;
    
}


.mainAdminPerfil article img{
    opacity: 60%;
    width: 100%;
    height: 100%;
}
.mainAdminPerfil article .vermas{
    opacity: 80%;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       

}
.mainAdminPerfil article .vermas .titulo{
 font-family: var(--fuente);
 font-size: var(--font-size-XXL);

}
.mainAdminPerfil article .vermas .precio{
    font-family: var(--fuente);
    font-size: var(--font-size-XXL);
   
   }



@media (max-width: 480px) {

    .mainAdminPerfil article {
        width: 100%;
        height: 100%;
   
    }


}
@media (min-width: 481px)  and (max-width:600px) {

    .mainAdminPerfil article {
        width: 46%;
        height:46%;
   
    }


}
@media (min-width: 601px)  and (max-width:900px) {

    .mainAdminPerfil article {
        width: 33%;
        height: 33%;
   
    }


}
@media (min-width: 901px){

    .mainAdminPerfil article {
        width: 25%;
        height: 25%;
   
    }


}



