@keyframes error {
    0% {background-color:var(--verde)}
    25%{background-color:#094e03e5}
    50%{background-color:#cb1212d4}
    100%{background-color:#094e0361}

}/* animacion error triangulo */


.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.error h1{
font-family: var(--fuente);
font-size: 10vw;
font-weight: 300;
}
.error picture{
    width: 50%;
    height: 50%;
    background-color: chartreuse;
    animation: error 1200ms alternate-reverse infinite linear ;
    border-radius: 50%;
}
.error picture img{
    width: 100%;
    height: 100%;
   
    
    transition-property: background-color;
   
}

.error h2{
    font-family: var(--fuente);
    font-size: 3vw;
    font-weight: 300;
    }
.error button{
    background-color: var(--verde);
    padding:10px;
    border-radius: 5px;
    transition: background-color;
    transition-duration: 500ms;
    text-decoration: none;
}
.error button:hover{
    background-color: aliceblue; 
}
.error button:hover a{
    color: var(--verde);  
}
.error button a{
    text-decoration: none;
    color: aliceblue;
    font-family: var(--fuente);
    font-size: var(--font-size-L); 
}




   