
main{
    border: none;
}

/*------------ INICIO ESTILOS CARROUSEL -----------*/


.Carousel{
    display: flex;
    width:100%;
    margin:0px;
    align-items: center;
    flex-direction: column;
}
.Carousel h2{
  font-size:26px;
  line-height:38px;
  padding-bottom:24px;
  opacity: .9px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align:center;  
}

picture.logo img{
    display: none;
    width: 50%;
}
picture.logo2 img{
    display: block;
    width: 22%;
    min-width: 77px;
    min-height: 77px;
}
picture.logo2{
    max-height: 77px;
    max-width: 77px;
}
.cabecera{
    display: flex;
}

form{
    display: flex;
}
.cabecera2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
}
.input{
   
    background-color: white;
    color: gray ;
    border: 1px solid #000;
    padding: 2px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    display: flex;
    margin-right: 10px;
    width: 100%;
  
  }
  .iconos{
    display: flex;
    justify-content: inherit;
    font-size: 22px;
  }

/*footer*/
footer{
    background: var(--verdemasclaro);
}

/*ada*/
@media (min-width:361px) 
{ 
    
    picture.logo2 img{
    display:none;
    width: 50%;
}
picture.logo img{
    display: block;
    width: 50%;
}
    
}

/* MAIN */
.mainHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.mainHome section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px
}

.mainHome section .imagenSeccion{
    max-width: 30vw;
}
.mainHome section .imagenSeccion img{
    width: 100%;
}
.mainHome section p{
    font-family: var(--fuente);
    font-size: var(--font-size-M);
}
.mainHome section h2{
    font-family: var(--fuente);
    font-size: var(--font-size-XL);
}
