/* MAIN */
.mainHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.mainHome section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px
}

.mainHome section .imagenSeccion{
    max-width: 25vw;
}
.mainHome section .imagenSeccion img{
    width: 100%;
}
.mainHome section p{
    font-family: var(--fuente);
    font-size: var(--font-size-M);
}
.mainHome section h2{
    font-family: var(--fuente);
    font-size: var(--font-size-XL);
}
.mainHome .descripcionSeccion{
    width: 30vw;
}
