@media (max-width: 599px) {
    /* HEADER */
    header{
        flex-direction: column;
    } 
    header .header-right{
        display:none
    }

    /* MAIN */
    main .top{
        flex-direction: column;
        gap:0px
    }
    main .top .right{
        width: 100%;
    }/* Contenedor derecho */
}
@media (min-width: 600px) and (max-width:799px){

    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    header .caja-logo{
        width: 80%;
    }

    /* MAIN */
    main .top{
        flex-direction: row;

    }    

}

@media (min-width:800px){

    header .header-right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    header .caja-logo{
        width: 40%;
    }
 /* MAIN */
    main .top{
        flex-direction: row;
        gap: 20px;

}    
    main .top .left{
        width: 60%;
        height: 100%;
}

}
