@import url(/css/parametrizacion.css);
@import url(/css/txt.css);
@import url(/css/responsive.css);
@import url(/css/animaciones.css);
@import url(/css/footer.css);
@import url(/css/header.css);
@import url(/css/home.css);
@import url(/css/adminUser.css);
@import url(/css/regsitro.css);
@import url(/css/detalleProducto.css);
@import url(/css/crearProducto.css);
@import url(/css/listaProductos.css);




