<footer id="footer"> <!-------- INICIO DEL FOOTER ------->   
    <div class="Container_footer">
        <div class="box_footer">
            <div class="logo">
                <img class="imagen" src="/images/LOGOB.png" alt="logo Petshop">       
            </div>
            <div class="terms">
                <p>PuppieShop es una tienda online para mascotas que cuenta con una gran variedad de productos para la diversión, 
                   entrenamiento, alimentación y salud de tu mascota. Además, cuenta con una red, a través de la cual todos los
                   usuarios pueden compartir tips de cuidado. PuppieShop cuenta con servicio de entrega a domicilio a nivel nacional. </p>
            </div>
            </div>
            <div class="box_footer">
                <h2>Acerta de Petshop</h2>
                    <a href="#">Terminos Y Condiciones</a>
                    <a href="#">Trabaja Con Nosotros</a>
                    <a href="#">Politicas De Entrega</a>
                    <a href="#">Politicas De Privacidad</a>
            </div>
            <div class="box_footer">
                <h2>Informacion</h2>
                    <a href="#">Blog PetFriendly</a>
                    <a href="#">Contactanos</a>
                    
                    <a href="#">Sucursales</a>
                    <a href="#">servicioalcliente@petshop.com</a>
            </div>
            <div class="box_footer social">
                <h2>Redes Sociales</h2>
                <a class="facebook" href="#"><i class="fab fa-facebook-square"></i>Facebook </a>
                <a class="youtube" href="#"><i class="fab fa-youtube-square"></i> Youtube</a>
                <a class="instagram" href="#"><i class="fab fa-instagram-square"></i> Instagram </a>
                <a class="twitter" href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            </div>

    </div>
    <div class="box_copyright">
        <hr>
        <p>Todos los derechos reservados © 2021
        <b> PuppieShop</b></p>
    </div>
</footer>