<header> <!-------- INICIO DEL HEADER--> 
    <div class="Container-header">
            <div class="logo">
                <img src="images/LOGOB.png" alt="logo petshop">
            </div>
            <nav class="redes"> <!---INICIO REDES SOCIALES-->
                <a href="https://www.google.com/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.google.com/" target="blank"><i class="fab fa-whatsapp"></i></a>
                </nav><!---FIN REDES SOCIALES-->
            <nav class="seccion">
                <a class="a-btn-header" href="/comida">Productos</a>
                <a href="#">Promociones</a>
                <a class="a-btn-header" href="/login">Login</a>
                <a href="#"><i class="fas fa-shopping-basket"></i></a>
            </nav>
    </div>
</header>  <!-------- FINAL DEL HEADER ------->
