<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    
    <main class="mainCrearProducto">
        <div class="iconoStock">
            <i class="fas fa-cubes"></i>
        </div>
        <h1>Complete los datos del nuevo producto</h1>
        <form action="/" method="post" enctype="multipart/form-data"> 
            
            <div>
                <label for="mascota">Perros</label>
                <input type="radio" name="mascota" id="mascota" value="Canino">
                <label for="mascota">Gatos</label>
                <input type="radio" name="mascota" id="mascota" value="Felino">
            </div>
            <div>
                <label for="razas">Pequeña</label>
                <input type="radio" name="razas" id="razas" value="pequeña">
                <label for="mascota">Mediana</label>
                <input type="radio" name="razas" id="razas" value="mediana">
                <label for="mascota">Grande</label>
                <input type="radio" name="razas" id="razas" value="grande">
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                <option value="accesorios">Accesorios</option>
                <option value="alimentos">Alimentos</option>
                <option value="aseo">Aseo</option>
                </select>
            </div>
            
            <div>
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre de producto" >
            </div>
            
            <div>
                <label for="tamaño">Tamaño de producto</label>
                <input type="text" name="tamaño" id="tamaño" placeholder="Ingrese tamaño del producto" >
            </div>
            <div>
                <label for="cantidad">Cantidad disponible</label>
                <input type="number" name="cantidad" id="cantidad" placeholder="Ingrese cantidad disponible" >
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" placeholder="Ingrese precio" >
            </div>
            <div>
                <label for="imagen">Imagen de descripción</label>
                <input type="file" name="imagen" id="imagen" placeholder="Ingrese imagen de referencia" >
            </div>
        
            <button type="submit" class="buton">Guardar producto</button>
            
        </form>
    </main>
    <%- include ('../partials/footer') %>
    
</body>
</html>