
header{
    background-color: #b4c2a4 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    left:0;
    top: 0;
    width: 100%;
    z-index: 2;

 
    
    
} /* estilos header */

header .header-right .redes{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;

}/* Contenedor redes */
header .caja-enlace-header{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}/* Contenedor enlaces header */



header .header-right .redes .iconred i{
    
    border: none;
    color: #3E6B1C;
}/* Iconos redes */
header .caja-enlace-header .iconred i{
   
    border: none;
    color: #3E6B1C;
    font-size: 2.5em;
}/* Iconos redes */

header .div-btn-header .a-btn-header{
    font-size: 2em;
    color: #3E6B1C;
    text-decoration: none;
}/* Eenlaces navegación */

header .header-right .redes .iconred i{
    font-size: var( --font-size-M);
}/* Tamaño iconos */

header .header-right .caja-enlace-header .iconred a i {

    font-size: var(--font-size-M);
}
header .header-right .caja-enlace-header .imgUser{
    width: 5vw;
    height: 5vw;
}
header .header-right .caja-enlace-header .imgUser a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header .iconred .fa{
    font-size: 2em;
    color: #3E6B1C;
    text-decoration: none;

}

/* RESPONSIVE */
@media (max-width: 360px) {
    header{
        display: flex;
        flex-direction: column;
        
    } 
    header .caja-logo{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    } 
    header .caja-logo a{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
    header .header-right .caja-enlace-header a{
        font-family: var(--fuente);
        font-size: var(--font-size-S);
    }
    .caja-logo img{
        width:100%;
    }/* img logo */
}






@media (min-width: 361px) and (max-width:600px) {
    /* HEADER */
    header{
        display: flex;
        flex-direction: column;
        
    } 
    header .caja-logo{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    } 
    header .caja-logo a{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
    header .header-right .caja-enlace-header a{
        font-family: var(--fuente);
        font-size: var(--font-size-S);
    }
    .caja-logo img{
        width:100%;
    }/* img logo */
    


}

@media (min-width: 601px) and (max-width:799px){
    header{
        flex-direction: column;
    }
    header .header-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    header .caja-logo{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    } 
    header .caja-logo a {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    } 
    header .header-right .caja-enlace-header a{
        font-family: var(--fuente);
        font-size:var(--font-size-M);
    }
    .caja-logo img{
        width:100%;
    }/* img logo */

}

@media (min-width:800px){

    header .header-right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    header .caja-logo{
        width: 50%;
    }
 /* PROPIEDADES TEXTOS HEADER */
header .header-right .caja-enlace-header a{
    font-family: var(--fuente);
    font-size:var(--font-size-L);
}

.caja-logo img{
    width:100%;
}/* img logo */

}







